@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif !important;
}

.card-ui:hover span{
    opacity: 1;
    transform: scale(1);
    color: white !important;
    position: relative;
    top: -60px;
    left: 25%;
    transform: scale(-50%, -50%);
    filter: brightness(50%);
}
.card-ui:hover:after {
    content: 'Detail';
    /* position: relative;
    top: 0; */
    font-size: 20px;
}

span{
    position: relative;
    font-size: 5em;
    color: transparent;
  }


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	border-radius: 10px;
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: transparent;
}
.shadow-footer{
    box-shadow: 0px -6px 10px 0px rgba(143,143,143,0.40);
    -webkit-box-shadow: 0px -6px 10px 0px rgba(143,143,143,0.40);
    -moz-box-shadow: 0px -6px 10px 0px rgba(143,143,143,0.40);
}
.btn-vpay{
    background-color: #111827;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 650px) {
    .btn-vpay{
        position: absolute;
        bottom: 20px;
        width: 60px;
        height: 60px;
    }
}
